---
layout: default
---

<div class="home">

  <ul class="post-list" post-cate="All">
    {% for post in paginator.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <div class="post-link">
        <h1>
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h1>
          {{post.content}}
        </div>
      </li>
    {% endfor %}

  </ul>

  {% if paginator.total_pages > 1 %}
    <div class="pagination">
        {% if paginator.previous_page %}
          <div class="left-arrow">
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Previous</a>
        
    </div>
        {% endif %}
    {% if paginator.next_page %}
    <div class="right-arrow">
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">NEXT
      </a>
      </div>
      {% endif %}
  </div>
  {% endif %}
  </div>