---
layout: otherpages
---


    <div class="list-content">
            <div class="col-md-4" id="archive-year">
            <!-- <div class="side-bar"> -->
                {% assign static-year = 0 %}
                {% for post in site.posts  %}
                        {% capture year %}{{post.date | date: "%Y"}}{% endcapture %}
                        {% if static-year != year %}
                        {% assign static-year = year %}
                    <li class="each-post-list">
                        <div class="each-post">
                            <a href=javascript:; class="archive-year" year="{{static-year}}" style="nactive">{{ static-year }}</a>
                        </div>
                     </li>   
                        {% endif %}
                {% endfor %}
            </div>      
        </div>
        <div class="col-md-8">
                <ul class="list-posts">
                    {% for post in site.posts  %}
                    {% capture tyear %}{{post.date | date: "%Y"}}{% endcapture %}
                    <li class="each-post-list" year="{{ tyear }}">
                        <div class="each-post">
                                <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                                <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
                        </div>
                    </li>
                    {% endfor %}
                    </ul>
                </div>
        </div>


<script>

    $('.archive-year').click(function(){
        var year = $(this).attr('year');
        console.log(year);

        $('.list-posts>li[year!='+year+']').css('display','none');
        $('.list-posts>li[year='+year+']').css('display','block');
        $('.archive-year').attr('style','nactive');
        $(this).attr('style','active');
    });

</script>







