/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: #6c6c6c;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    // background-color:#eceef1
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: $base-font-weight;
}



/**
 * Links
 */
a {
    color: #afafaf;
    text-decoration: none;

    //&:visited {
    //    color: darken($grey-color, 15%);
    //}

    &:hover {
        color:#77BA9B;
        //text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: #77BA9B;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-family: monospace;
    font-size: 1em;
    letter-spacing: 0.1em;
    background-color:rgb(245, 245, 245);

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 0px solid $grey-color-light;
    border-radius: 3px;
    background-color: #f5f5f5;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
//#mainpage{
//    border-left: 5px solid #4AC090;
//}



.wrapper {
    max-width: -webkit-calc((#{$content-width}) * 1.2);
    max-width:         calc((#{$content-width}) * 1.2);
    margin-right: auto;
    margin-left: auto;
    padding: 0 auto;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}

.wrapper2 {
    max-width: -webkit-calc(#{$content-width} * 1.5);
    max-width:         calc(#{$content-width} * 1.5);
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

//next/previous pages
.left-arrow{
    display: inline-block;
    float:left;
    margin-left: 40px;
}
.right-arrow{
    display: inline-block;
    float:right;
    margin-right:40px;

}

.nav-right{
    display:inline-block;
    right:0;
    position:relative;
    margin:auto;
    padding:1.5em;
    position:fixed;
}
.nav-right:hover{
    cursor:pointer;
}

.col-md-8{
   padding:1em 2em;
   mini-width:400px;
}
.col-md-4{
   padding:1em 2em;
}
#side-page{
     padding:1em 2em;
     display:none;   
     // position:relative;
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    -ms-animation-name: fadeIn;
    animation-name: fadeIn;
    animation-duration:1s;
    
     @media (max-width: 991px){
        display:block;
     }
}
.side-content{
    padding:10px;
    background-color:#f5f5f5; 
    width:100%;
}
.side-content-title{
    text-align:center;
    font-size:1.5vw;
    @media (max-width: 991px){
        font-size:1.8vw
    }
    @media (max-width: 600px){
        font-size:18px;
    }
}
.pagination{
    width:100%;
}
.list-title{
    width:100%;
}


.list-content{
    margin:0 auto;
    padding:0 auto;
    width:100%;
}
//bootstrap custom
.container-fluid{
    margin:0 auto;
    padding: 0px;
}
//font awsome

.toggle-span{
    position:fixed;
    right:3em;
    top:150px;
    color:#77BA9B;

    @media (max-width: 991px){
        display:none;
    }
    //animation
    
        -webkit-animation-name: fadeOut;
        -moz-animation-name: fadeOut;
        -o-animation-name: fadeOut;
        -ms-animation-name: fadeOut;
        animation-name: fadeOut;
        animation-duration:1s;
    
}
.toggle-span:hover{
    cursor:pointer;
}
.toggle-span2{
    position:absolute;
    right:2.5em;
    top:1.5em;
    color:#77BA9B;

    @media (max-width: 991px){
        display:none;
    }
    &:hover{
        cursor:pointer;
    }
}
#side-img>img{
    height:100px;
    width:100px;
    border:3px solid #fff;
    border-radius: 100%;
    margin:0 auto;
    padding:auto;
    display:block;
}
#side-img{
    text-align: center;
    font-size:1.2vw;

    @media (max-width:991px){
        font-size:15px;
    }
 }
 .site-tag{
    padding:1% 2%;
    margin:2%;
    background-color: #fff;
    box-shadow: 2px 0px 2px 0px;
    display:inline-block;
 }

#main-content{
    @media (min-width:991px){
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    transition: padding 0.5s ease-out;

    -webkit-transform: translateZ(0);
    transform:translateZ(0);
    }
}
//animation fadein
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    //display:none;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  1%{
    //display:block;
    opacity:0;
    transform:scale(1);
  }
  1%{
    //display:block;
    opacity:0;
    transform:scale(1);
  }
  100% {
    opacity: 1;
    transform:scale(1);
    -ms-filter: none;
    filter: none;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    //display:none;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  1%{
    //display:block;
    opacity:0;
    transform:scale(1);
  }
  1%{
    //display:block;
    opacity:0;
    transform:scale(1);
  }
  100% {
    opacity: 1;
    transform:scale(1);
    -ms-filter: none;
    filter: none;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
    // display:none;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  1%{
    // display:block;
    opacity:0;
    transform:scale(1);
  }
  10%{
    // display:block;
    opacity:0.3;
    transform:scale(0.3);
  }
  100% {
    opacity: 1;
    transform:scale(1);
    -ms-filter: none;
    filter: none;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 0;
    display:block;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  1%{
    display:none;
    opacity:0;
    transform:scale(1);
  }
  1%{
    display:none;
    opacity:0;
    transform:scale(1);
  }
  100% {
    opacity: 1;
    transform:scale(1);
    -ms-filter: none;
    filter: none;
  }
}
