.clocks{
  display:inline-block;
  margin-right:5%;
  & h4{
    text-align: center;
  }
}
.clock-container{
  border-radius:50%;
  width:300px;
  height:300px;
  border:8px solid #1b1b1b;
  position:relative;
  display:inline-block;
}
.center-point{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  padding:0;
  width:10px;
  height:10px;
  border-radius:50%;
  background-color:#1b1b1b;
  z-index:2;
}

.hours {
  background: #000;
  height: 60px;
  left: 49.2%;
  position: absolute;
  top: 81.5px;
  transform-origin: 50% 100%;
  background-color: @POMEGANATE;
  width: 6px;
  transform: translate(-50%, -50%);
  animation: rotates 43200s infinite linear;
}
.seconds {
  background: #000;
  height: 130px;
  left: 49.58%;
  position: absolute;
  top: 38px;
  transform-origin: 50% 80%;
  width: 2px;

  transform: translate(-50%, -50%);
  animation: rotates 60s infinite linear;
}
.minutes {
  background: #000;
  height: 80px;
  left: 49.4%;
  position: absolute;
  top: 63px;
  transform-origin: 50% 99%;
  width: 3px;

  transform: translate(-50%, -50%);
  animation: rotates 3600s infinite linear;
}
/*keyframe animation*/
@keyframes rotates {
  100% {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}