table {
  font: 14px/1.5 "Microsoft YaHei", "微软雅黑", "Lantinghei SC", Helvetica, Tahoma, Arial, sans-serif, SimSun, "Hiragino Sans GB", "Hiragino Sans GB";
  width: 97%;
  height: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: center;
  margin: 0 auto;
}
tr {
  /*margin: 1.5em;*/
  /*display:table;*/
}
tr:nth-child(odd) {
  background-color: #eeeeee;
}
td,
th {
  margin: 0 auto;
  padding: 0.8em;
}
@media only screen and (max-width: 900px) {
  td,
  th {
    padding: 0.5em;
    font-size: 15px;
    min-font-size: 14px;
  }
}
@media only screen and (max-width: 730px) {
  table thead {
    display: none;
  }
  table tr {
    display: block;
  }
  tr:before {
    display: block;
  }
  table tr:after {
    content: "";
    display: table;
    clear: both;
  }
  table td {
    box-sizing: border-box;
    display: block;
    float: left;
    clear: left;
    width: 100%;
    text-align: right;
    font-size: 13px;
    border-bottom: 1px dotted #ccc;
  }
  td:before {
    content: attr(table-title);
    float: left;
    display: block;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  tr {
    display: block;
  }
  tr:before {
    display: block;
  }
  table tr:after {
    content: "";
    display: table;
    clear: both;
  }
  table td {
    box-sizing: border-box;
    display: block;
    float: left;
    clear: left;
    width: 100%;
    text-align: right;
    font-size: 13px;
    border-bottom: 1px dotted #ccc;
  }
  td:before {
    content: attr(table-title);
    float: left;
    display: block;
  }
}
.waterfall {
  width: 100%;
  margin: 0 auto;
  padding: 0px;
  /*for least small or mobile*/
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
}
@media (min-width: 550px) and (max-width: 740px) {
  .waterfall {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
@media (min-width: 800px) and (max-width: 970px) {
  .waterfall {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}
@media (min-width: 1000px) {
  .waterfall {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  }
}
@media (min-width: 1200px) {
  .waterfall {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
  }
}
.waterfall:hover {
  cursor: pointer;
}
.waterfall-square-demo {
  width: 250px;
  height: 180px;
  max-width: 100%;
  display: inline-block;
  background-color: #dfdfdf;
  margin-bottom: 20px;
  text-align: center;
}
.waterfall-square {
  width: 250px;
  height: 180px;
}
.waterfall-square h4 {
  margin-top: 85px;
}
.waterfall-square-sm {
  width: 150px;
  height: 150px;
}
.waterfall-square-sm h4 {
  margin-top: 70px;
}
.waterfall-square,
.waterfall-square-sm {
  max-width: 100%;
  display: inline-block;
  background-color: #dfdfdf;
  margin-bottom: 20px;
  text-align: center;
}
.waterfall-square h4,
.waterfall-square-sm h4 {
  color: #77BA9B;
}
.waterfall-square:hover,
.waterfall-square-sm:hover {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  animation: show-shadow 0.5s forwards ease-out;
}
.waterfall-square:hover h4,
.waterfall-square-sm:hover h4 {
  color: #95a5a6;
}
@keyframes show-shadow {
  0% {
    box-shadow: 0px 0px 0px 0px #77BA9B inset;
  }
  50% {
    box-shadow: 0px 0px 0px 3px #77BA9B inset;
  }
  100% {
    box-shadow: 0px 0px 0px 8px #77BA9B inset;
  }
}
.turquoise {
  background-color: #1abc9c;
}
.emerald {
  background-color: #2ecc71;
}
.green-sea {
  background-color: #16a085;
}
.nephritis {
  background-color: #27ae60;
}
.perter-river {
  background-color: #3498db;
}
.belize {
  background-color: #2980b9;
}
.sun-flower {
  background-color: #f1c40f;
}
.carrot {
  background-color: #f1c40f;
}
.pomeganate {
  background-color: #c0392b;
}
.alizarin {
  background-color: #e74c3c;
}
.orange {
  background-color: #f39c12;
}
.cloud {
  background-color: #ecf0f1;
}
.concrete {
  background-color: #95a5a6;
}
.silver {
  background-color: #bdc3c7;
}
.asbestos {
  background-color: #7f8c8d;
}
.clocks {
  display: inline-block;
  margin-right: 1%;
}
.clocks h4 {
  text-align: center;
}
.clock-container {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  border: 8px solid #1b1b1b;
  position: relative;
  display: inline-block;
}
.center-point {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #1b1b1b;
  z-index: 2;
}
.hours {
  background: #000;
  height: 60px;
  left: 49.2%;
  position: absolute;
  top: 81.5px;
  transform-origin: 50% 100%;
  background-color: #c0392b;
  width: 6px;
  transform: translate(-50%, -50%);
  animation: rotates 43200s infinite linear;
}
.seconds {
  background: #000;
  height: 130px;
  left: 49.58%;
  position: absolute;
  top: 38px;
  transform-origin: 50% 80%;
  width: 2px;
  transform: translate(-50%, -50%);
  animation: rotates 60s infinite linear;
}
.minutes {
  background: #000;
  height: 80px;
  left: 49.4%;
  position: absolute;
  top: 63px;
  transform-origin: 50% 99%;
  width: 3px;
  transform: translate(-50%, -50%);
  animation: rotates 3600s infinite linear;
}
/*keyframe animation*/
@keyframes rotates {
  100% {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
#skill-btn {
  background-color: #efefef;
  color: #77BA9B;
  border-radius: 2%;
  border: 2px #6c6c6c;
  width: 20%px;
  padding: 10px;
  text-align: center;
  display: inline-block;
}
input {
  display: inline-block;
  width: 75%;
}
.skill-add {
  display: block;
  margin: 20px auto;
  width: 80%;
}
.demo-container {
  margin: 0 auto;
  padding: 0 auto;
  width: 95%;
}
