<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      
            <div class="wrapper" id="mainpage">
              <div class="container-fluid">
                    <div class="row">
                      <div class="inner" id="main-content">
                            {{ content }}
                      </div>

                      <div class="toggle-span">
                          <i class="fa fa-chevron-circle-left fa-2x"></i>
                      </div>

                      <div class="col-md-4" id="side-page">
                          <div class="side-content">
                              <div id="side-img">
                                  <img  src="{{site.baseurl}}/img/minion.png"></img>
                                  <p>CATAMO(Bingjie Gao)</p>
                              </div>
                          </div>
                              
                          <div class="side-content">    
                            <h1>Tag Cloud</h1>
                              {% assign tags = site.tags | sort %}
                              {% for tag in tags %}
                              <span class="site-tag">
                                <a class="tag-name" href="{{site.baseurl}}/{{ tag | first | slugify }}.html"
                                    style="font-size: {{ tag | last | size  |  times: 4 | plus: 80  }}%">
                                {{ tag[0] | replace:'-', ' ' }} ({{ tag | last | size }})
                                </a>
                              </span>
                          {% endfor %}
                          </div>
                          <div class="toggle-span2">
                            <i class="fa fa-chevron-circle-right fa-2x"></i>
                          </div>
                    </div>
                    
              </div>
            </div>
    </div>

    {% include footer.html %}

  </body>

</html>
