<!DOCTYPE html>
<html>

{% include head.html %}

<body>

{% include header.html %}

<div class="page-content">

    <div class="wrapper" id="mainpage">
        <div class="container-fluid">
                <div class="inner" id="main-content">
                    {{ content }}
                </div>
            <!--
                                  <div class="toggle-span">
                                      <i class="fa fa-hand-o-left fa-2x"></i>
                                  </div>

                                  <div class="col-md-4" id="side-page">
                                      <div class="side-content">
                                        About Me
                                      </div>
                                  </div> -->

        </div>
    </div>
</div>

{% include footer.html %}

</body>

</html>
