<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      
            <div class="wrapper" id="mainpage">
              <div class="container-fluid">
                    <div class="row">
                      <div class="inner" id="main-content">
                            {{ content }}
                      </div>
                    </div>
              </div>
            </div>
    </div>

    {% include footer.html %}

  </body>

</html>
